.custom-hr {
    border: 0;
    height: 2px;
    background: #ff6f61;
    margin: 20px 0;
}

.titulo {
    font-size: 2.5rem;
    color: #2a5298;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}