.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    width: 100%;
    max-width: 100%;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    border-radius: 50px;
}


.suspender {
   background-color: #ff6f61;
}


.bloquear {
    background: linear-gradient(135deg, #5b21b6, #8f63f5);
}

.desactivar {
    background: linear-gradient(135deg, #0e7490, #38bdf8);
}


